h1 {
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
  font-family: sans-serif;
}
.well {
  background-color:#CFE690;
  color: #7957D9;
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
}


#education {
  text-decoration: underline;
  font-size: 22px;
  font-family: serif;
  color: #a10505
}

body {
  background-color: #EBA9B9;
}
.panel {
  background-color: #9dafeb;
}
#intro {
  font-size: 20px;
  color: #a10505;
  font-family: serif;
}
.subtitle-one {
  font-size: 64px;
  font-family: serif;
  color: #a10505
}

#hobbies {
  font-size: 20px;
  font-family: serif;
  color: #a10505
}

#skills {
  font-size: 20px;
  font-family: serif;
  color: #a10505
}

.link {
  font-size: 20px;
}

.description {
  color: #a10505;
  font-size: 16px

}
p {
  font-size: 16px
}
img {
  float: right;
}
div {
padding-top: 75px;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 50px;
}

.panel-body {
  background-color: #ABECDD;
  height: 350px;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 5px 5px 5px grey;
}
  
.panel-header {
  background-color: #CFE690;
  text-align: center;
  color: #5776D9;
  height: 5px;
  font-size: 28px;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 5px 5px 5px grey;
}

.contact-info {
  font-size: 20px;
  font-family: serif;
  color: #a10505
}

.panel-body:hover {
  transform: rotateY(180deg);
}

.panel-header:hover {
  transform: rotateY(180deg);
}
