h1 {
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
  font-family: fantasy;
}
.jumbotron {
  background-color: #9dafeb;
}
.about-me {
  font-family: cursive;
  font-size: 32px
}
.high-school {
  text-decoration: underline;
  font-size: 20px;
}
.college {
  text-decoration: underline;
  font-size: 20px;
}
.epicodus {
  text-decoration: underline;
  font-size: 20px;
}
body {
  background-color: #d95776;
}
.panel {
  background-color: #9dafeb;
}
p {
  font-size: 16px
}
img {
  float: right;
}
div {
padding-top: 75px;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 50px;
}
